<script>
  $('.navbar .nav #developers').addClass('active')
</script>

<h2>
WebSockets API
</h2>

<p>
The API for icecondor is based on JSON messages over a websockets connection.
</p>

<p>
The first step is to open wss://api.icecondor.com. The server will acknowledge the connection with a hello message.
</p>

<pre>
$ <span title="https://raw.github.com/icecondor/api/master/wscat">wscat</span> wss://api.icecondor.com
opening wss://api.icecondor.com
<span style="font-weight:bold">{"type":"hello","version":"0.2"}</span>
</pre>

<p>
The most frequent operation is to get real-time updates for a particular user. Here is an example. The server response is in bold.
</p>

<pre>
{"type":"follow","username":"iss"}
<span style="font-weight:bold">
{"type":"follow","username":"iss","status":"OK","message":"following public profile"}
{"id":"ebab0e45aa867148cb655dc1aba7b9ac","type":"location","username":"iss","date":"2011-12-09T18:56:59.558Z","position":{"latitude":49.59823828074799,"longitude":106.35512952869465}}</span>
</pre>

Location messages are sent as soon as IceCondor receives a position update for the users being followed. The location message in the previous example is reformatted here for easier reading.
<pre>
{
    "id": "ebab0e45aa867148cb655dc1aba7b9ac",
    "type": "location",
    "username": "iss",
    "date": "2011-12-09T18:56:59.558Z",
    "position": {
        "latitude": 49.59823828074799,
        "longitude": 106.35512952869465
    }
}
</pre>

<p>
Some operations require authorization. Registration with the site generates an oauth token. Use the token to authenticate.
</p>

<pre>
{"type":"auth", "oauth_token":"iUfD1VNure4rucCOkmA"}
<span style="font-weight:bold">
{"type":"auth","status":"OK","user":{"username":"donpdonp","email":"person@example.com","friends":["frontpage","trimet14","iss"],"type":"user","created_at":"2010-08-02T11:01:49Z"}}
<span>
</pre>
