  <style>
.hero-unit .feature { float: left; width: 800px; background: ; text-align:center;}
.hero-unit .menu { clear: extrawide; list-style: none; margin-left: auto; font-size: 140%; margin-top: 10px; margin-right: auto;}
.hero-unit .menu li { display:inline; }
.hero-unit ul.menu { width: 30%;}
#extrawide { width: 1600px; position: absolute; -moz-transition: left 1s; -webkit-transition: left 1s; left: 0px }
.slidewindow { height: 300px; width: 800px; margin-left: 100px; position: relative; overflow:hidden}
  </style>

<script>
  $('.topbar .nav #features').addClass('active')
</script>
  <div class="hero-unit">

    <div class="slidewindow">
      <div id="extrawide">

        <!-- section  -->
        <div class="feature" id="cto">
           <p>
           Build a network <br/>
           of close friends.  <br/>
           </p>
           <img src="/assets/features/friending.png">
        </div>

        <!-- section  -->
        <div class="feature" id="fri">
           <p>
           Use the homescreen widget to <br/>
           turn IceCondor on or off  <br/>
           with one press.
           </p>
           <img src="/assets/features/ic-on.png">
        </div>

        <!-- section  -->
        <!--
        <div class="feature" id="gef">
          <p>
            Geo Fences (coming)
          </p>
          <img src="/assets/features/geofence.png">
        </div>
        -->
      </div>
    </div>

    <!-- scroll controlls -->
    <ul class="menu">
      <li><a href="#">Find Friends</a> |</li>
      <li><a href="#">Easy On/Off</a> </li>
      <!-- <li><a href="#">GeoFences</a> </li> -->
    </ul>

  </div>

<script>
$(function(){
  $('.hero-unit .menu li a').each(function(idx, el){
    console.log(el);
    $(el).click(function(){
      slide(el,idx)
    })
  });
});

function slide(el, pos) {
  $('#extrawide').css("left",(-800*pos)+"px")
}
</script>