<% content_for :header do %>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <script src="/socket.io/socket.io.js"></script>
<% end %>

<!-- initial data -->
<script>
var initial_locations = <%=raw @locations.to_json %>;
var users = <%=raw @users.to_json %>;
</script>

<div class="mapfloatheading">
  <div class="mapfloatcontent">
    <p>
      <span id="title">
        IceCondor
      </span>
    </p>
    <p id="subtitle">
      Continuous location tracking for Android phones.  
      <%= link_to "Download here", "https://market.android.com/details?id=com.icecondor.nest" %>
    </p>

    <%= flash[:notice] %>

    <p id="publicupdates">
      <span id="titlelist">Recent Public Updates</span>
    <table id="trackedlist">
    </table>
    </p>
  </div>
</div>


<!-- Google Maps -->
<div id="map_canvas" style="width: 100%; height: 500px; margin-left:auto; margin-right: auto"></div>

<script id="trackedUserTemplate" type="text/x-jquery-tmpl">
  <tr>
    <td><img class="markerprofile" src="{{=ImageUrl}}" /></td>
    <td><a href="/{{=UserName}}">{{=UserName}}</a></td>
    <td id='{{=UserName}}-date'>{{=TimeAgo}} </td>
  </tr>
</script>