      <div id="full-login-form">
        <div class="title">
          <img src="/assets/icon-64x64.png" />
          <p>Welcome!</p>
          <p> Please enter your email address and 
              we'll look up your account or sign you up. </p>
        <div>
        <form class="form-stacked">
          <div class="clearfix input-append" id="full-login-email-row">
             <label for="full-login-email">Email Address <span id="full-login-email-err"/></label>
             <input type="email" name="email" id="full-login-email"> 
          </div>
          <div class=" ">
            <input type="submit" value="Login">
          </div>

        </form>      
      </div>
