      <div id="full-login-form">
        <p class="title">
          <img src="/assets/icon-64x64.png" /> Log in
        <p>
        <form class="form-stacked" action="/session" method="POST" id="login-form">

          <div class="clearfix input-append" id="full-login-email-row">
             <label for="full-login-email">Email Address <span id="full-login-email-err"/></label>
             <input type="hidden" name="email" id="full-login-email"
                    value="<%= params[:email] %>" >
             <%= params[:email] %>
          </div>

          <div class="clearfix input-append" id="full-login-password-row">
             <label for="full-login-password">Password <span id="full-login-password-err"/></label> 
             <input type="password" name="password" id="full-login-password"> 
          </div>
          
          <div class=" ">
            <input type="submit" value="Login">
          </div>

        </form>      
      </div>
<script>
document.forms["login-form"].elements['full-login-password'].focus();
</script>