/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

#body .container {
  width: 95%;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

#body .navbar {
  background: #2C2C2C;
  border: 0;
  vertical-align: middle;

  .navbar-brand {
    color: white;
    padding: 0;
  }

  .navbar-nav {
    padding-top: 5px;
    margin-left: 1em;
  }

  #gplay {
    margin-left: 1em;
    img {
      margin-top: 6px
    }
  }

  #signing_in form {
    margin-top: 10px;
  }
  #logged_in form {
    margin-top: 10px;
  }
}

#colorbox {
  z-index: 2;
}

#signup_form {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  background:white;
  border-radius: 8px;
  border: solid;
}

#signup_form li {
  list-style: none;
}

#signup_form img {
  vertical-align: middle;
}

#signup_form .title {
  font-size: 150%;
}

#signup_form .clearfix {
  margin-bottom: 5px;
}

#signup_form div.clearfix.error {
  padding-top: 0px;
  padding-bottom: 0px;
}

#full-login-form {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  background: white;
  border-radius: 8px;
  border: solid;
}

#full-login-form .title {
  font-size: 150%;
}

#full-login-form img {
  vertical-align: middle;
}

#full-login-form div.clearfix.error {
  padding-top: 0px;
  padding-bottom: 0px;
}

.username {
  a,a:hover,a:active {
    color: white;
  }
  font-size: 150%;
  text-align: middle;
  padding-right: 0.5em;
}

#logged_in .username {
  margin-top: 5px;
}

.alert-error p {
  font-size: 120%;
  margin: 0px;
}