/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

#body {

}

#body .container {
  width: 95%;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

.navbar .container .brand {
  padding-top: 4px;
  padding-bottom: 4px;
}
.brand img {
  height: 45px;
  vertical-align: middle;
}

.navbar .nav {
  padding-top: 5px;
  font-size: 120%;
}

.navbar .pull-right {
  padding-top: 5px;
}

.navbar #login-email {
  margin-top: 5px;
  width: 20em;
}

a#gplay {
  width: 129px;
  height: 45px;
  margin-top: 8px;
  margin-left: 3em;
}

#signup_form {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  background:white;
}

#signup_form li {
  list-style: none;
}

#signup_form img {
  vertical-align: middle;
}

#signup_form .title {
  font-size: 150%;
}

#signup_form .clearfix {
  margin-bottom: 5px;
}

#signup_form div.clearfix.error {
  padding-top: 0px;
  padding-bottom: 0px;
}

#full-login-form {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  background:white;
}

#full-login-form .title {
  font-size: 150%;
}

#full-login-form img {
  vertical-align: middle;
}

#full-login-form div.clearfix.error {
  padding-top: 0px;
  padding-bottom: 0px;
}

.username {
  color: white;
  font-size: 150%;
  text-align: middle;
}

#logged_in .username {
  margin-top: 5px;
}

.alert-error p {
  font-size: 120%;
  margin: 0px;
}