// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Map page
div.mapfloatheading {
  position: absolute;
  z-index: 1;
  background: white;
  opacity: 0.75;
  border: 1px solid #555;
  margin-left: 4%;
  margin-top: 0.5%;
}

.mapfloatcontent {
  margin: 0 0.5em;
}

.mapfloatcontent p{
  margin-top: 2px;
  margin-bottom: 2px;
}

.mapfloatcontent a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

.mapfloatcontent #title {
  font-size: 110%;
  font-weight: bold;
}

.mapfloatcontent td {
  padding: 0;
}

.mapfloatcontent .markerprofile {
}

table#trackedlist {
  width: 100%;

  tbody td {
    border-top: 1px solid #dddddd
  }
}