/*
*= require_self
*/

#full-login-form {
  margin-left: auto;
  margin-right: auto;
  width: 25em;
}

#full-login-form .title p {
}

#full-login-form img {
  float: left
}

#full-login-form form {
  clear: left;
}

#full-login-email-row {
  margin-bottom: 0.5em
}

.form-stacked label { display: block }