    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">
            <img src="/assets/icon-64x64.png">
            IceCondor
          </a>

          <ul class="nav">
            <li id="livemap"><a href="/">LiveMap</a></li>
            <li id="features"><a href="/dashboard/features">Features</a></li>
            <li id="developers"><a href="/dashboard/developers">Developers</a></li>
          </ul>
          <a href="https://market.android.com/details?id=com.icecondor.nest">
            <img id="marketbutton" src="/assets/market.png">
          </a>

          <% if logged_in? %>
            <span style="color:white">user: <%= current_user %></span>
            <form id="login" action="/session" method="delete" class="pull-right">
              <button class="btn" type="submit">Log out</button>
            </form>          
          <% else %>
            <form id="login" action="/session" method="post" class="pull-right">
              <input class="input-small" type="email"
                     placeholder="e-mail address" id="login-email">
              <button class="btn" type="submit">Sign in</button>
            </form>
            <script>
              $('#login').submit(login_submit)
            </script>
          <% end %>
        </div>
      </div>
    </div>

    <div id="signup_form">
      <p class="title">
        <img src="/assets/icon-64x64.png"> IceCondor Signup
      <p>
      <form>
        <ul>
          <li> <label for="signup-email">Email Address </label> <br/>
               <input type="email" name="email" id="signup-email"> 
          </li>
          <li> <label for="signup-username">Username </label> <br/>
               <input type="text" name="username" id="signup-username"> 
          </li>
          <li> <label for="signup-password">Password </label> <br/>
               <input type="password" name="password" id="signup-password"> 
          </li>
        </ul>
      </form>
    </div>
    <script>
    </script>