    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">
            <img src="/assets/icon-64x64.png">
            IceCondor
          </a>

          <ul class="nav">
            <li id="livemap"><a href="/">LiveMap</a></li>
            <li id="features"><a href="/dashboard/features">Features</a></li>
            <li id="developers"><a href="/dashboard/developers">Developers</a></li>
          </ul>
          <a href="https://market.android.com/details?id=com.icecondor.nest">
            <img id="marketbutton" src="/assets/market.png">
          </a>

          <span style="display:none" id="logged_in">
            <form id="logout" action="/session" method="delete" class="pull-right">
              <label  id="username" ></label>
              <button class="btn" type="submit">Log out</button>
            </form>          
          </span>

          <span style="display:none" id="signing_in">
            <form id="login" action="/session" method="post" class="pull-right">
              <input class="input-small" type="email" name="email"
                     placeholder="e-mail address" id="login-email">
              <button class="btn" type="submit">Sign in</button>
            </form>
            <script>
              $('.topbar #login').submit(function(e){login_submit($(e.target.email).val()); return false;})
              $('.topbar #logout').submit(function(e){logout_submit();return false;})
            </script>
          </span>

          <script>
          <% if logged_in? %>   
            login_success(<%=raw current_user.to_json%>)      
          <% else %>
            login_logout();
          <% end %>
          </script>
        </div>
      </div>
    </div>

    <div style="display:none">
      <div id="signup_form">
        <p class="title">
          <img src="/assets/icon-64x64.png" /> Signup
        <p>
        <form class="form-stacked">
              <div class="clearfix input-append" id="signup-email-row">
                 <label for="signup-email">Email Address <span id="signup-email-err"/></label>
                 <input type="email" name="email" id="signup-email"> 
              </div>
              <div class="clearfix input-append" id="signup-username-row">
                 <label for="signup-username">Username <span id="signup-username-err"/></label> 
                 <input type="text" name="username" id="signup-username"> 
              </div>
              <div class="clearfix input-append">
                 <label for="signup-password">Password</label> 
                 <input type="password" name="password" id="signup-password"> 
              </div>
              <div class="">
                <input type="submit" value="Sign-Up">
              </div>
          </div>
        </form>
      </div>
    </div>
    <script>
      $('#signup_form').submit(signup_submit)
    </script>