    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">
            <img src="/assets/icon-64x64.png">
            IceCondor
          </a>

          <ul class="nav">
            <li id="livemap"><a href="/">LiveMap</a></li>
            <li id="features"><a href="/dashboard/features">Features</a></li>
            <li id="developers"><a href="/dashboard/developers">Developers</a></li>
          </ul>
          <a href="https://market.android.com/details?id=com.icecondor.nest">
            <img id="marketbutton" src="/assets/market.png">
          </a>

          <span style="display:none" id="logged_in">
            <form id="logout" action="/session" method="delete" class="pull-right">
              <span  class="username" ></span>
              <button class="btn" type="submit">Log out</button>
            </form>          
          </span>

          <span style="display:none" id="signing_in">
            <form id="login" action="/session" method="post" class="pull-right">
              <input class="input-small" type="email" name="email"
                     placeholder="e-mail address" id="login-email">
              <button class="btn" type="submit">Sign in</button>
            </form>
          </span>

          <span style="display:none" id="signin_password">
            <form id="password" action="/session" method="post" class="pull-right">
              <input class="input-small" type="password" name="password"
                     placeholder="password" id="login-email">
              <button class="btn" type="submit">Sign in</button>
            </form>
          </span>

            <script>
              $('.topbar #login').submit(function(e){login_submit($(e.target.email).val()); return false;})
              $('.topbar #password').submit(function(e){login_password($('#login-email').val(), e.target.password.value);return false;})
              $('.topbar #logout').submit(function(e){logout_submit();return false;})
            </script>

        </div>
      </div>
    </div>

    <div style="display:none">
      <div id="signup_form">
        <p class="title">
          <img src="/assets/icon-64x64.png" /> Sign up
        <p>
        <form class="form-stacked">
          <div class="clearfix input-append" id="signup-email-row">
             <label for="signup-email">Email Address <span id="signup-email-err"/></label>
             <input type="email" name="email" id="signup-email"> 
          </div>
          <div class="clearfix input-append" id="signup-username-row">
             <label for="signup-username">Username <span id="signup-username-err"/></label> 
             <input type="text" name="username" id="signup-username"> 
          </div>
          <div class="clearfix input-append">
             <label for="signup-password">Password</label> 
             <input type="password" name="password" id="signup-password"> 
          </div>
          <div class="">
            <input type="submit" value="Sign-Up">
          </div>
        </form>
      </div>
    </div>
    <div style="display:none">
      <div id="full-login-form">
        <p class="title">
          <img src="/assets/icon-64x64.png" /> Sign in
        <p>
        <form class="form-stacked">
          <div class="clearfix input-append" id="full-login-email-row">
             <label for="full-login-email">Email Address <span id="full-login-email-err"/></label>
             <input type="email" name="email" id="full-login-email"> 
          </div>
          <div class="clearfix input-append" id="full-login-password-row">
             <label for="full-login-password">Password <span id="full-login-password-err"/></label> 
             <input type="password" name="password" id="full-login-password"> 
          </div>
          <div class="">
            <input type="submit" value="Login">
          </div>

        </form>      
      </div>
    </div>

    <script>
      $('#signup_form').submit(signup_submit)
      $('#full-login-form').submit(function(e){login_password(e.target.email.value, e.target.password.value);return false;})

    </script>