    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">
            <img src="/assets/icon-64x64.png">
            IceCondor
          </a>

          <ul class="nav">
            <li id="livemap"><a href="/">LiveMap</a></li>
            <li id="features"><a href="/dashboard/features">Features</a></li>
            <li id="developers"><a href="/dashboard/developers">Developers</a></li>
          </ul>
          <a href="https://market.android.com/details?id=com.icecondor.nest"><img id="marketbutton" src="/assets/market.png" ></a>

          <% if true %>
          <form id="login" action="" class="pull-right">
            <button class="btn" type="submit">Log out</button>
          </form>          
          <% else %>
          <form id="login" action="" class="pull-right">
            <input class="input-small" type="email"
                   placeholder="e-mail address">
            <button class="btn" type="submit">Sign in</button>
          </form>
          <% end %>
        </div>
      </div>
    </div>