    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">
            <img src="/assets/icon-64x64.png">
            IceCondor
          </a>

          <ul class="nav">
            <li class="active"><a href="#">LiveMap</a></li>
            <li><a href="/dashboard/features">Features</a></li>
            <li><a href="https://market.android.com/details?id=com.icecondor.nest">Download</a></li>
          </ul>
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">

            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>